
# MoveIt specific controller manager settings
controller_names:
  - arm_controller
  - gripper_controller

arm_controller:
  type: FollowJointTrajectory
  action_ns: follow_joint_trajectory
  default: true
  joints:
    - joint1
    - joint2
    - joint3
gripper_controller:
  type: FollowJointTrajectory # Or a specialized GripperCommand controller type
  action_ns: follow_joint_trajectory
  default: true
  joints:
    - left_finger_joint
    - right_finger_joint
